body {
  margin: 0;
  padding: 0;
}

/* ul {
  margin: 0;
  padding: 0;
} */

.filters {
  padding-top: 20px;
  padding-left: 20px;
  list-style-type: none;
}

.filter-item {
  padding-top: 7px;
  padding-left: 18px;
  list-style-type: none;
}

.filter-item-category {
  display: flex;
  align-items: center;
  color: #009CF0;
}

.filter-item-category:hover {
  color: #fe4053;
}

.child-category {
  display: inline-block;
  align-items: center;
}

.child-category::before {
  display: inline-block;
  height: 10px;
  width: 10px;
  content: "";
  background-size: 10px 10px;
  background-image: url(../public/arrow.svg);
  transition: transform 0.3s;
}

.filter-item-category:hover .child-category::before {
  background: url(../public/arrow_hover.svg);
}

.show::before {
  transform: rotate(90deg);
}

.without-child {
  padding: 5px;
}
